@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
