.item {
  display: flex;
  align-items: center;
}

.label {
  width: 150px;
  text-align: right;
  margin-right: 15px;

  font-size: 16px;
}

.diagrammBar {
  display: flex;
  align-items: center;

  width: 100%;
  height: 30px;

  background-color: rgb(240, 236, 236);
}

.done {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;

  background-color: rgba(24, 209, 209, 0.336);
}
